<<<<<<< HEAD
body
{
	font-family: "Montserrat";
}

.gold
{
	color: #BBA649
}
.navy
{
	color: #113F6D;
}

.brown
{
	color: #937D1D;
}


.img-thumbnail
{
	border: none;
	background-color: inherit; 
}

/* HEADER */

header
{
	background-repeat:no-repeat;
	background-size: cover;
	background-image:url("https://raw.githubusercontent.com/nellerama/nellerama.github.io/header_background.svg");
	text-align: center; 
}
#header-text
{
	display:grid;
	align-content: center;
}

#header-image-container
{
	padding:0;
}

#header-image-container > img
{
	max-width: 100%;
}
header h2
{
	color:#113F6D;
}

/* ACTION */body
{
	font-family: "Montserrat";
}

.container-fluid{
    padding: 0;
}

section{
    min-height: 90vh;
}
#action > div, #form-container > div {
    padding-top: 70px;
}

h2{
    font-weight: 1000;
}
.background-gold{
    background-color: #BBA649
}
.gold
{
	color: #BBA649
}
.navy
{
	color: #113F6D;
}

.brown
{
	color: #937D1D;
}


.img-thumbnail
{
	border: none;
	background-color: inherit; 
}

.arrow-down{
    transform: rotate(90deg);
    margin: 10px auto;
}

.arrow-right, .arrow-down{
    max-width: 9em;
    min-width: 3em;
}
/* HEADER */

header
{
	background-repeat:no-repeat;
	background-size: cover;
    background-color: #F5F5F5;
	text-align: center; 
}
#header-logo{
    padding-top: 70px;
    margin-left: 40px;
}

#header-text
{
	display:grid;
    grid-template-rows: repeat(3, 1fr);
}

#header-image-container
{
	padding:0;
}

#header-image-container > img
{
	max-width: 100%;
}
header h2
{
	color:#113F6D;
}

@media screen and (max-width: 992px) {
    #header-image-container{
        display:none;
    };

    #header-logo{
        margin: auto;
    };
   header .arrow-down{
        margin: 40px auto;
   }

}
/* ACTION */
#action-info
{
	background-image: url("https://raw.githubusercontent.com/nellerama/nellerama.github.io/main/action_background.svg");
	background-position: center;
	background-size: cover;
    color:white;
    font-weight: 1000;
    text-align: center;
    display: grid;
    grid-template-rows: 10% 75%;
}

#action-info ul{
    list-style-position: inside;
    display: grid;
    font-size: larger;
}

#form-container{
    color:white;
    text-align: center;
    display: grid;
    grid-template-rows: 10% 10% 14% 40%;
}
#form-container form{
    width: 60%;
    margin: auto;
    border: #F5F5F5 1px solid;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 70px;
}

#form-container ul{
    text-align: center;
    list-style-position: inside;
    font-size: smaller;
    font-style: italic;
    display: grid;
    padding: 10px 30px;
}
#form-container h5{
    font-style: italic;
    text-align: left;
    font-weight: 400;
    padding: 10px 30px;
}
#form-container ::placeholder{
    color: #937D1D;
}

#button-container{
    text-align: center;
    margin: 20px 0px;
}
#form-container #submit{
    background-color: #113F6D;
    height:65px;
    margin:auto;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
}

#form-container input{
    border: none;
}

#form-check{
    text-align: center;
}

/* TESTIMONIAL */ 

#testimonial-img-container{
    background-color: #113F6D;
    display: grid;
    grid-template-columns: 75% 25%;
    text-align: center;
}

#testimonial-img-container .arrow-right{
    align-self: center;
    width: 100%;
    margin: auto;
}
#headshot{
    width: 100%;
    align-self: center;
}
#bio-container{
    background-image: url("https://raw.githubusercontent.com/nellerama/nellerama.github.io/main/bio_background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    display: grid;
    padding: 70px;
    text-align: center;
}
#bio-container h2{
    color: #937D1D;
}

#bio-container p{
    color: #113F6D;
}
@media screen and (max-width: 768px) {
    #testimonial-img-container .arrow-right{
        transform: rotate(90deg);
        margin: auto;
        padding: 20px;
    }
    #testimonial-img-container{
        grid-template-rows: 75% 25%;
        grid-template-columns: none;
    }

    #headshot{
        width: 50%;
        margin: auto;
    }
    #testimonial-img-container img{
        margin: auto;
    }
}

/* PERKS */
#perks{
    text-align: center;
    color: #F5F5F5;
    font-size: larger;
    padding: 70px 0;
}
#perks .row{
    margin-top: 70px;
}
#perks .row:first-child{
    margin-top: 0;
}
#perks h2{
    color: #113F6D;
    font-weight: 700;
}
.perk-icon img{
    width: 75%;
    max-width: 400px;
}

.perk-info{
    display: grid;  
    grid-template-rows: 30px auto;
    align-content: center;
  
}
#perks .arrow-down{
    padding: 4%;
    margin: auto;
}

/* OUTLINES */

#outlines{
    color: #113F6D;
    padding: 10%;
    padding-top:20px; 
    background-color: #FDFCF7;
}
#outlines .col-12 > div{
    width: 50%;
}
#outlines h2, #outlines h5{
    text-align: center;
}
#outlines h5{
    margin-top: 10px;
}
#outlines span{
    font-style:italic;
}
#outlines .right{
    justify-content: right;
}

#outlines .left{
    justify-content: left;
}

#outlines .right, #outlines .left {
    display: flex;
    margin-top: 70px;
    background-repeat: no-repeat;
    background-size: auto 26vh;
    background-position: center;
}

  #outlines .right{
    background-position: 60%;
    background-image: url("https://raw.githubusercontent.com/nellerama/nellerama.github.io/main/arrow_left.svg");
  }

  #outlines .left{

    background-position: 40%;
    background-image: url("https://raw.githubusercontent.com/nellerama/nellerama.github.io/main/arrow_right.svg");
  }

  #outlines .left ul:after, #outlines .right ul:after {
    position: absolute;
    z-index: -1;
    opacity: 50%;
  }
  
#outlines h4{
    color: #937D1D;
    text-align: center;
}

@media screen and(max-width: 768px) {
    #outlines .col-12 > div{
        width: 100%;
    }
    #outlines .right{
        display: flex;
        justify-content: center;
    }
}

/* FOOTER */
footer{
    color:#FDFCF7;
    text-align: center;
    padding-top: 70px;
}
footer p{
    text-align: center;
    display: flex;
    justify-content: center;
}
footer a{
    color:#FDFCF7;
    font-size: smaller;
}
#action
{
	background-image: url("file:///C:/Users/djsni/OneDrive/Documents/gillianwolffe/action_background.svg");
	background-position: center;
	background-size: cover;
}

#action h1
{
	font-size: xx-large;
	text-align: center;
	font-weight: 600;
}

#action h2, #action h3, #action p
{
	text-align: center;
}

#action-info
{
	
  display: grid;
  align-items: stretch;
}

#action-info p
{
	background-color: #ffffff;
	color: #113F6D;
	padding: 20px 40px;
	font-size: 100%;
	min-height: 70%;
	padding: 20px;
}

#form-container h2 , #form-container h3
{
	font-weight:600;
}


#form-container
{
	background-color: #FDFCF6BD;
	border-radius: 10px;
	margin-top: 30px;
	padding: 40px 20px;  
	display: inline-flex;
	justify-content: space-around;
}

form #submit
{
	width: 100%;
	margin-bottom: 10px;
	background-color: #5A738C;
}

form
{
	border: solid 2px #585136; 
	border-radius: 10px;
	padding:20px;
}
form label
{
	color: #96780C;
	font-weight: normal;
}
.form-control, input[type="checkbox"], input[type="radio"]
{
	border: 2px solid #585136;
	background-color: unset;
}
#testimonial
{
	position: relative; 
	margin-top: 5%;
}

#testimonial div
{
	background-color: #F6F5F0;
	transform: translate(-50%, -50%);
	font-size: 75%;
	padding-left: 10%;
	top: 50%;
	left: 60%;
	position: absolute;
}	

#testimonial .rounded-circle
{
	background-color: #F6F5F0;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 20%;	
	position: absolute;
	height:20vh;
	width: 20vh;
	background-color: #F6F5F0;
	z-index:1;
}
/* PERKS */ 

#perks-container
{
	display:inline-flex; 
	justify-content: space-around; 
	text-align: center;
	padding: 1vh 3vw;
}
#perks h3
{
	margin-bottom:0;
	font-style: italic;
	font-weight: 600;
}
#perks p
{
	margin-bottom: 20px;
}

/* FEATURES */

#features
{
	text-align: center;
	font-size: larger;
	font-weight: 500;
	display:inline-flex; 
	justify-content: space-around; 
}
#features > .col-12
{
	margin-top: 30px;
	text-transform: capitalize;
}

#features .img-thumbnail
{
	max-width: 50%;
}

/* FOOTER */

footer
{
	text-align: center;
	font-size: small;
}
footer p
{
	margin-bottom: 0;
}

footer a
{
	font-size: x-small;
}
@media screen and (min-width: 768px)
{
	header
	{
		text-align: left;
	}

	#header-img
	{
		position: relative;
		top: -100px;
	}
	
	#header-main
	{
		margin-bottom: -100px;
		font-size: 1.5vw;
		display: inline-flex;
		justify-content: space-between;
	}
	#header-text
	{
		position: relative;
		left: 5%;
	}
	
	#form-container
	{
		flex-direction: row-reverse;
	}
	
	#action
	{
		padding: 20px 100px;
	}
	#action h1
	{
		font-size: 300%;
	}
	
}
=======
body
{
	font-family: "Montserrat";
}

.gold
{
	color: #BBA649
}
.navy
{
	color: #113F6D;
}

.brown
{
	color: #937D1D;
}


.img-thumbnail
{
	border: none;
	background-color: inherit; 
}

/* HEADER */

header
{
	background-repeat:no-repeat;
	background-size: cover;
	background-image:url("header_background.svg");
	text-align: center; 
}
#header-text
{
	display:grid;
	align-content: center;
}

#header-image-container
{
	padding:0;
}

#header-image-container > img
{
	max-width: 100%;
}
header h2
{
	color:#113F6D;
}

/* ACTION */
#action
{
	background-image: url("action_background.svg");
	background-position: center;
	background-size: cover;
	font-size: larger;
}

#action h1
{
	font-size: xx-large;
	text-align: center;
	font-weight: 600;
}

#action h2, #action h3, #action p
{
	text-align: center;
}

#action-info
{
	display: grid;
  	grid-template-rows: 25% 12.5% 50%;
}

#action-info p
{
	background-color: #ffffff;
	color: #113F6D;
	padding: 20px 40px;
	font-size: 100%;
	min-height: 70%;
	padding: 20px;
}

#action-info ul
{
	align-items: first baseline;
	display: grid;
	list-style: disclosure-closed;
	margin-left: 25%;
}
#form-container h2 , #form-container h3
{
	font-weight:600;
}


#form-container
{
	background-color: #FDFCF6BD;
	border-radius: 10px;
	margin-top: 30px;
	padding: 40px 20px;  
	display: inline-flex;
	justify-content: space-around;
}

form #submit
{
	width: 100%;
	margin-bottom: 10px;
	background-color: #5A738C;
}

form
{
	border: solid 2px #585136; 
	border-radius: 10px;
	padding:20px;
}
form label
{
	color: #96780C;
	font-weight: normal;
}
.form-control, input[type="checkbox"], input[type="radio"]
{
	border: 2px solid #585136;
	background-color: unset;
}
#testimonial
{
	position: relative; 
	margin-top: 5%;
}

#testimonial div
{
	background-color: #F6F5F0;
	transform: translate(-50%, -50%);
	font-size: 75%;
	padding-left: 10%;
	top: 50%;
	left: 60%;
	position: absolute;
}	

#testimonial .rounded-circle
{
	background-color: #F6F5F0;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 20%;	
	position: absolute;
	height:20vh;
	width: 20vh;
	background-color: #F6F5F0;
	z-index:1;
}
/* PERKS */ 

#perks-container
{
	display:inline-flex; 
	justify-content: space-around; 
	text-align: center;
	padding: 1vh 3vw;
}
#perks h3
{
	margin-bottom:0;
	font-style: italic;
	font-weight: 600;
}
#perks p
{
	margin-bottom: 20px;
}

/* FEATURES */

#features
{
	text-align: center;
	font-size: larger;
	font-weight: 500;
	display:inline-flex; 
	justify-content: space-around; 
}
#features > .col-12
{
	margin-top: 30px;
	text-transform: capitalize;
}

#features .img-thumbnail
{
	max-width: 50%;
}

/* FOOTER */

footer
{
	text-align: center;
	font-size: small;
}
footer p
{
	margin-bottom: 0;
}

footer a
{
	font-size: x-small;
}
@media screen and (min-width: 768px)
{
	header
	{
		text-align: left;
	}

	#header-img
	{
		position: relative;
		top: -100px;
	}
	
	#header-main
	{
		margin-bottom: -100px;
		font-size: 1.5vw;
		display: inline-flex;
		justify-content: space-between;
	}
	#header-text
	{
		position: relative;
		left: 5%;
	}
	
	#form-container
	{
		flex-direction: row-reverse;
	}
	
	#action
	{
		padding: 20px 100px;
	}
	#action h1
	{
		font-size: 300%;
	}
	
}
>>>>>>> 1d290063decf1880c5efea10743d594ebee1130e
